.auth {
  background-color: #151c28;
  background-image: url(./../../assets/gOne.svg);
  background-repeat: no-repeat;
  background-position: center left;
  height: 100vh;

  &__logo {
    margin: 4.8125rem 0 0 4.25rem;
  }
}

@media screen and (max-width: 600px) {
  .auth__logo {
    display: none;
  }
}
