@import "../variables/colors.scss";

.bid {
  display: grid;
  place-items: center;
  margin-top: 9rem;

  @media screen and (max-width: 528px) {
    padding: 1rem 0rem;
    margin: 0;
  }

  &__lead {
    // background: red;

    @media screen and (max-width: 528px) {
      padding: 0;
      margin: 0;
    }
  }

  &__heading {
    font-family: $secondary-font;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #fff;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #fff;
  }

  &__amount {
    display: grid;
    place-items: center;
    margin-top: 3rem;
  }

  &__input {
    padding: 1rem 4rem;
    padding-left: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $input-background;
    outline: none;
    font-family: $primary-font;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    border: 0.125rem solid #d0d2d4;
    color: #d0d2d4;
    margin-bottom: 2rem;

    &:focus {
      border: 0.125rem solid $primary-color;
    }
  }

  &__btn {
    padding: 1rem 8rem;
    background-color: $primary-color;
    font-family: $secondary-font;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      filter: brightness(90%);
    }
  }
}
