@import "../variables/colors.scss";

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;

  @media screen and (max-width: 528px) {
    margin-top: 6rem;
  }

  &__heading {
    h2 {
      color: white;
      font-family: $primary-font;
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.1875rem;
      margin-bottom: 3rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 528px) {
      flex-direction: column;
    }
  }

  &__black {
    background-color: $background-color-minor;
    color: $primary-color;
    font-family: $primary-font;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0.1875rem solid $primary-color;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding: 0.95rem 2.8125rem;
    flex: 1;

    &:hover {
      filter: brightness(80%);
    }
  }

  &__orange {
    background-color: $primary-color;
    color: $btn-text;
    font-family: $primary-font;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding: 0.95rem 2.8125rem;

    &:hover {
      filter: brightness(80%);
    }
  }
}
