@import "../variables/colors.scss";

.fund {
  margin: 0.2rem 3rem;

  &__heading {
    font-family: $secondary-font;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.1875rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  &__amount {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  &__why {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #fff;
    text-decoration: underline;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__reply {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    margin-bottom: 1.5rem;
  }

  &__input {
    margin-top: 3rem;
    height: 4.25rem;
    width: 24.625rem;
    border-radius: 0.5rem;
    border: 0.125rem solid $input-border;
    background-color: $input-background;
    font-family: Acherus Grotesque;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    padding-left: 1rem;
    outline: none;
    color: $input-color;
    &:focus {
      border: 0.125rem solid $primary-color;
    }
  }

  &__special {
    display: flex;
    gap: 0.5rem;
  }

  &__input2 {
    height: 4.25rem;
    width: 12.0625rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    outline: none;
    border: 0.125rem solid #d0d2d4;
    background-color: $darker-background;
    font-family: Acherus Grotesque;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    padding-left: 1rem;
    outline: none;
    color: #d0d2d4;
    &:focus {
      border: 0.125rem solid $primary-color;
    }
  }

  &__button {
    display: grid;
    margin-top: 2rem;
  }

  &__btn {
    background-color: $primary-color;
    // padding: 1rem 4rem;
    border: none;
    height: 4.25rem;
    width: 23.875rem;
    border-radius: 0.5rem;
    font-family: $secondary-font;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }
}
