@import "../../styles/variables/colors.scss";

.navbar {
  background-color: $darker-background;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 5;

  display: grid;
  grid-template-columns: 1fr [logoStart] max-content [logoEnd] 1fr [searchStart] 6fr[searchEnd] 1fr [buttonStart] 5.76fr [buttonEnd] 0.85fr;

  @media screen and (max-width: 528px) {
    grid-template-columns: [logoStart] max-content [logoEnd] 1fr [searchStart] 6fr[searchEnd] 1fr [buttonStart] 1fr [buttonEnd];
    position: relative;
  }

  &__logo {
    grid-column: logoStart/logoEnd;
    align-self: center;
    // padding-right: 5rem;
  }

  .hamburger {
    font-size: 3rem;
    color: white;
    grid-column: buttonStart/buttonEnd;
    align-self: center;
    justify-self: flex-end;
    display: none;

    @media screen and (max-width: 528px) {
      display: block;
    }
  }

  &__buttons {
    grid-column: buttonStart/buttonEnd;
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 528px) {
      display: none;
      grid-column: unset;
      position: absolute;
      right: 16px;
      top: 84px;
      flex-direction: column;
      row-gap: 2rem;
      background-color: $background-color-main;
      padding: 3rem;
    }
  }
  .search-label {
    grid-column: searchStart/searchEnd;
  }

  .black-btn {
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
    background-color: inherit;
    color: $primary-color;
    border: 0.1875rem solid $primary-color;
    font-family: $primary-font;
    font-size: 1.1875rem;
    font-weight: 700;
    line-height: 1.25rem;
    font-family: $secondary-font;
    font-size: 1.1875rem;
    font-weight: 700;
    line-height: 1.25rem;
    cursor: pointer;

    &:hover {
      filter: brightness(80%);
    }

    @media screen and (max-width: 528px) {
      padding: 1rem 2rem;
    }
  }

  .orange-btn {
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $primary-color;
    color: $btn-text;
    border: 0.0625rem solid $primary-color;
    font-family: $primary-font;
    font-size: 1.1875rem;
    font-weight: 700;
    line-height: 1.25rem;
    font-family: $secondary-font;
    font-size: 1.1875rem;
    font-weight: 700;
    line-height: 1.25rem;

    &:hover {
      filter: brightness(90%);
    }

    @media screen and (max-width: 528px) {
      padding: 1rem 2rem;
    }
  }
}

.btn_show {
  display: flex;
}
// .btn_hide {
//   display: none;
// }
