@import "../../styles/variables/colors.scss";

.search-input {
  padding: 0.75rem 0.75rem 0.75rem 3.625rem;
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
  border: 0.125rem solid #d0d2d4;
  background-color: inherit;
  color: #d0d2d4;
  font-size: 1rem;
  font-family: $primary-font;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.25rem;

  &::placeholder {
    font-family: "Inter" sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding-left: 1rem;
  }
}

.search-label {
  display: block;
  position: relative;
}

.search-icon {
  position: absolute;
  inset: 1.125rem auto auto 1.5rem;
}
