@import "../variables/colors.scss";

.user__profile {
  background-color: #121721;
  border-radius: 10px;
  font-family: $primary-font;
  width: 20rem;
  position: absolute;
  top: 5.6rem;
  right: 2rem;

  .user__balance {
    border-bottom: 2px solid #636870;
    padding: 1rem 1.5rem;
  }

  .wallet__balance {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-items: center;

    span {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  h4 {
    margin-left: 2rem;
  }

  .user__actions {
    padding: 34px 1.5rem 14px 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    cursor: pointer;
  }

  .user__account {
    display: flex;
    gap: 0.3rem;
    padding: 0.5rem;

    &:hover {
      background-color: $primary-color;
    }
  }

  .user__wallet {
    display: flex;
    gap: 0.4rem;
    padding: 0.5rem;

    &:hover {
      background-color: $primary-color;
    }
  }

  .user__logout {
    display: flex;
    gap: 0.7rem;
    padding: 0.5rem;

    &:hover {
      background-color: $primary-color;
    }
  }
}
