@import "../variables/colors.scss";

.user__navbar {
  background-color: $darker-background;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  color: $btn-gray;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 10;

  .navbar__list {
    display: flex;
    gap: 1rem;
  }

  .navbar__item {
    font-family: $primary-font;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1rem;

    &:hover {
      color: $primary-color;
    }
  }

  .user {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &__image {
      border-radius: 50%;
    }
  }

  .bagg-container {
    display: flex;
    // background-color: $background-color-minor;
    // border-radius: 50%;
    // padding: 10px;
  }

  .bagg-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5625rem;
    width: 1.5625rem;
    background: #eb5757;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    font-family: $secondary-font;
    color: $btn-gray;
    line-height: 1.625rem;
    // margin-left: 2.5rem;
  }
}

@media screen and (max-width: 528px) {
  .search-bar {
    display: none;
  }

  .navbar__item {
    display: none;
  }
}
