@import "../variables/colors.scss";

.card {
  background-color: #0e131b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 122px 31px;
  border-radius: 20px;

  &__heading {
    font-family: $secondary-font;
    color: #d0d2d4;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    margin-bottom: 1.5rem;

    // &:first-child {
    //   font-size: 4rem;
    // }
  }

  .card__text {
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #d0d2d4;
  }
}
