@import "../variables/colors.scss";

.contact__heading {
  display: grid;
  place-items: center;
  font-family: $secondary-font;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.1875rem;
  // color: $color-gold;
  color: #f3bb81;
  margin: 4rem 0 4rem 0;
}

.contact-image {
  width: 100%;
}

.get {
  background-color: $darker-background;
  margin-top: 8rem;
  padding: 5rem;
  margin-bottom: 10rem;

  &__lead {
    display: grid;
    place-items: center;
  }

  &__heading {
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.375rem;
    // color: $color-gold;
    color: #f3bb81;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-family: $secondary-font;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.625rem;
    color: #d0d2d4;
  }

  .card__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1.625rem 4rem;
  }

  .get__card {
    background-color: #d9d9d9;
    padding: 7.625rem 0.625rem;
    border-radius: 1.25rem;
    position: relative;
    margin-top: 8.75rem;
  }

  // .lead h5 {
  //   margin-top: 2rem;
  // }

  .header__text {
    font-family: $secondary-font;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.1875rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    display: grid;
    place-items: center;
  }

  .body__text {
    font-family: $secondary-font;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.375rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  .card__icon {
    position: absolute;
    top: -7.5rem;
    right: 4rem;
  }
}

.map__image {
  width: 100%;
  margin-bottom: 7rem;
}
