@import "../variables/colors.scss";
.email-success__button {
  margin-top: 3.9375rem;
  margin-left: 3.9375rem;

  @media screen and (max-width: 528px) {
    // margin: 3rem auto;
    display: grid;
    place-items: center;
  }
}

.email-success__btn {
  font-family: $secondary-font;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.8125rem;
  color: $primary-color;
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }
}

.email-sucess__icon {
  display: grid;
  place-items: center;
  margin-top: 8rem;
  gap: 2.875rem;
}

.email__success__text {
  color: #fff;
  font-family: $secondary-font;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.5rem;

  @media screen and (max-width: 528px) {
    font-size: 1.5rem;
  }
}
