@import "../variables/colors.scss";

.email-failure {
  @media screen and (max-width: 528px) {
    padding: 1rem;
  }
}

.email-failure__icon {
  display: grid;
  place-items: center;
  margin-top: 10rem;
}

.email-failure__message {
  display: grid;
  place-items: center;

  @media screen and (max-width: 528px) {
    padding: 1rem;
  }
}

.email__failure__text {
  color: #fff;
  font-family: $secondary-font;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-top: 2rem;

  @media screen and (max-width: 528px) {
    font-size: 1.125rem;
  }
}

.email__failure__text2 {
  font-family: $secondary-font;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #fff;
  margin-top: 0.5rem;
  @media screen and (max-width: 528px) {
    font-size: 1rem;
    text-align: justify;
  }
}
