@import "../variables/colors.scss";

.error__page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100vh;

  .error__heading {
    color: #ffffff;
    font-family: $secondary-font;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
  }

  .error__btn {
    margin-top: 2rem;
    background-color: $primary-color;
    color: $btn-text;
    font-family: $primary-font;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    padding: 19px 5px 19px 5px;

    &:hover {
      filter: brightness(80%);
    }
  }
}
