@import "../variables/colors.scss";

.error__page {
  display: grid;
  place-items: center;
  // height: 100vh;
  margin-top: 8rem;

  .error__heading {
    color: #ffffff;
    font-family: $secondary-font;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    margin-bottom: 141px;
  }

  // .error__btn {
  //   margin-top: -5rem;
  //   background-color: $primary-color;
  //   color: $btn-text;
  //   font-family: $primary-font;
  //   cursor: pointer;
  //   // width: 100%;
  //   border-radius: 8px;
  //   border: none;
  //   font-size: 19px;
  //   font-weight: 700;
  //   line-height: 20px;
  //   padding: 19px 5px 19px 5px;

  //   &:hover {
  //     filter: brightness(80%);
  //   }
  // }
}
