@import "../variables/colors.scss";

.history {
  margin-top: 3.125rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.125rem solid #636870;
    padding-bottom: 1rem;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__content {
    font-family: $primary-font;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    color: $btn-gray;
  }

  &__date {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: $btn-gray;
  }

  &__number {
    display: flex;
    gap: 1rem;
    justify-content: center;
    place-items: center;
    margin-top: 10rem;
  }

  &__digit {
    // height: 3.125rem;
    // width: 56px;
    border-radius: 0.3125rem;
    background-color: $primary-color;
    padding: 1rem 2rem;
    color: black;
    font-family: $secondary-font;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
