@import "../../styles/variables/colors.scss";

.header {
  margin: 4rem;

  &__photo {
    width: 100%;
  }

  .offers__heading {
    margin: 4rem 0 4rem 0;
    font-family: $primary-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.375rem;
    color: $btn-gray;
    background-color: $darker-background;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .offers__card {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background-color: $background-color-minor;
    display: flex;
    overflow-x: scroll;
    position: relative;

    padding: 2rem 1rem;

    &-itm {
      flex: 1;
      width: 304px;
      min-width: 304px;
      max-width: 304px;
    }
  }
  .great__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 238px);
    gap: 1rem 0.625rem;

    &-itm {
      overflow: hidden;
      &:first-child {
        grid-row: 1/3;
      }
      img {
        height: fit-content;
        width: fit-content;
      }
    }
  }
}

// @media screen and (max-width: 528px) {
//   .offers__card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//   }
// }

// .parent {
//   position: relative;
// }

// .bag-container {
//   z-index: 5;
//   position: absolute;
//   display: flex;
//   left: 79rem;
//   // right: 1rem;
//   top: -2.8rem;
// }

// .bag-quantity {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 1.5625rem;
//   width: 1.5625rem;
//   background: #eb5757;
//   border-radius: 50%;
//   font-size: 1rem;
//   font-weight: 700;
//   font-family: $secondary-font;
//   color: $btn-gray;
//   line-height: 1.625rem;
//   margin-left: -2.5rem;
// }
