@import "../../styles/variables/colors.scss";

.header {
  margin: 4rem;

  &__photo {
    width: 100%;
  }

  .offers__heading {
    margin: 4rem 0 4rem 0;
    font-family: $primary-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.375rem;
    color: $btn-gray;
  }

  .offers__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.parent {
  position: relative;
}

.bag-container {
  z-index: 5;
  position: absolute;
  display: flex;
  left: 79rem;
  // right: 1rem;
  top: -2.8rem;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5625rem;
  width: 1.5625rem;
  background: #eb5757;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  font-family: $secondary-font;
  color: $btn-gray;
  line-height: 1.625rem;
  margin-left: -2.5rem;
}
