@import "../../styles/variables/colors.scss";

.header {
  margin: 4rem;

  &__photo {
    width: 100%;
  }

  .offers__heading {
    margin: 4rem 0 4rem 0;
    font-family: $primary-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.375rem;
    color: $btn-gray;
  }

  .offers__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
