@import "../variables/colors.scss";

.login-email {
  position: absolute;
  top: 12.5rem;
  right: 46rem;
  font-family: $primary-font;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: $input-gray;
  background-color: $darker-background;
  padding: 0.5rem;
  border-radius: 0.125rem;
}

.login-password {
  position: absolute;
  top: 20rem;
  right: 44.5rem;
  font-family: $primary-font;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: $input-gray;
  background-color: $darker-background;
  padding: 0.5rem;
}

.dont {
  display: grid;
  place-items: center;
  margin-top: 4rem;

  &__text {
    font-family: $secondary-font;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.625rem;
    color: $btn-gray;
    margin-right: 5rem;

    span {
      font-family: $secondary-font;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.625rem;
      color: $primary-color;
    }
  }

  &__link {
    font-family: $secondary-font;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
    color: $primary-color;
    margin-top: 1rem;
    margin-right: 18rem;
  }
}
