@import "../variables/colors.scss";

.paid {
  display: grid;
  place-items: center;
  margin-top: 12rem;

  &__text {
    font-family: $secondary-font;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #fff;
    margin-top: 1.75rem;
    margin-bottom: 20rem;
  }
}
