@import "../variables/colors.scss";

.privacy {
  // margin: 26px 64px;

  &__lead {
    background-color: #2f1b06;
    margin-top: 3rem;
    color: #fff;
    padding: 2rem 0;
  }

  &__text {
    margin: 26px 64px;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
  }
}
.privacy__heading {
  display: grid;
  place-items: center;
  font-family: $secondary-font;
  font-size: 64px;
  font-weight: 600;
  line-height: 102px;
}

.policies {
  margin: 26px 64px;
}

.policy__texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.policy {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
}

.policy__heading {
  color: $color-blue;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  margin-top: 1.3rem;
  // margin-bottom: 3rem;
}

.text {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  color: #fff;
}

.blue {
  color: $color-blue;
  text-decoration: underline;
}

.helpful {
  background-color: #636870;
  padding: 2rem 0;
  color: #d0d2d4;
  margin-top: 5rem;

  &__lead {
    display: flex;
    justify-content: space-around;
    // align-items: center;
    justify-items: center;
    border-bottom: 2px solid $color-gold;
  }

  &__stars {
    display: flex;
    gap: 2rem;
    // align-items: center;
    // justify-content: center;
  }

  .star {
    width: 3rem;
  }

  &__heading {
    font-family: $secondary-font;
    font-size: 36px;
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 1.5rem;
  }

  &__details {
    display: flex;
    // flex-direction: column;
    gap: 8rem;
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    margin: 3rem 5rem;
    text-align: justify;
  }

  &__button {
    margin-top: 9rem;
    border-radius: 8px;
    width: 14rem;
    padding: 1rem 2rem;
    border: none;
    background-color: $primary-color;
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;

    &:hover {
      filter: brightness(90%);
    }
  }
}

.help {
  background-color: $darker-background;
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 3rem 9rem;
  gap: 3rem;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 600;
  line-height: 58px;
  color: #d0d2d4;
  margin: 3rem 0;

  &__button {
    border-radius: 8px;
    width: 14rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #d0d2d4;
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    border: 2px solid $primary-color;

    &:hover {
      filter: brightness(90%);
    }
  }
}
