@import "../variables/colors.scss";

.search-result {
  margin: 4rem;

  &__lead {
    margin-bottom: 9.375rem;
  }

  &__heading {
    font-family: $secondary-font;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.1875rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  &__text {
    color: #fff;
    font-family: $primary-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.375rem;

    & span {
      font-family: $secondary-font;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2.375rem;
      color: #fff;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    & .product__photo {
      height: 16rem;
    }
  }
}
