@import "../variables/colors.scss";

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;

  &__heading {
    h2 {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 4rem;
      color: $btn-gray;
    }
    p {
      font-family: $secondary-font;
      font-weight: 200;
      font-size: 1.125rem;
      line-height: 1.875rem;
      color: $btn-gray;
      margin-bottom: 1.3125rem;
    }
  }

  label {
    display: block;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  input {
    height: 4.25rem;
    width: 29.125rem;
    border-radius: 0.5rem;
    color: #828282;
    background-color: $darker-background;
    outline: none;
    font-family: $primary-font;
    padding-left: 1rem;
    font-size: 1.5rem;
    border: 0.125rem solid #d0d2d4;

    &::placeholder {
      font-size: 1.25rem;
      line-height: 2.25rem;
      font-family: $primary-font;
      font-weight: 400;
    }
  }

  .name__auth {
    display: flex;
    gap: 1rem;
  }

  .name__input {
    height: 4.25rem;
    width: 14.0625rem;
    border-radius: 0.5rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;

    .create-btn {
      height: 4.25rem;
      width: 28.9375rem;
      border-radius: 0.5rem;
      padding: 1.25rem, 6rem, 1.25rem, 6rem;
      background-color: $primary-color;
      border: none;
      font-family: $secondary-font;
      font-size: 1.25rem;
      line-height: 1.75rem;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 700;
      color: $btn-text;

      &:hover {
        filter: brightness(90%);
      }
    }

    .sign-btn {
      height: 4.25rem;
      width: 29rem;
      align-items: center;
      justify-content: center;
      gap: 0.8125rem;
      border-radius: 0.5rem;
      border: 0.1875rem solid $primary-color;
      font-family: $secondary-font;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: $primary-color;
      background-color: $darker-background;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        filter: brightness(90%);
      }
    }

    .line {
      border-bottom: 0.0625rem solid #d0d2d4;
      margin-top: 1rem;
    }

    .google-btn {
      height: 4.25rem;
      width: 29.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8125rem;
      border-radius: 0.5rem;
      border: none;
      font-family: $secondary-font;
      font-size: 1.25rem;
      line-height: 1.75rem;
      background-color: $btn-gray;
      background: $btn-gray;
      cursor: pointer;
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 700;

      &:hover {
        filter: brightness(90%);
      }
    }

    .google {
      background-color: $btn-gray;
    }
  }
  .full-name {
    position: absolute;
    top: 9rem;
    right: 44rem;
    font-family: $primary-font;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: $input-gray;
    background-color: #151c28;
    padding: 0.5rem;
    border: none;
  }

  .email {
    position: absolute;
    top: 16.5rem;
    right: 46rem;
    font-family: $primary-font;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: $input-gray;
    background-color: #151c28;
    padding: 0.5rem;
  }

  .password {
    position: absolute;
    top: 23.5rem;
    right: 44.5rem;
    font-family: $primary-font;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: $input-gray;
    background-color: #151c28;
    padding: 0.5rem;
  }
}
