@import "../variables/colors.scss";

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 5rem;

  &__message {
    margin-bottom: 16.25rem;
  }

  &__photo {
    margin-right: 3rem;
  }

  &__text {
    font-family: $secondary-font;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.1875rem;
    color: $btn-gray;
  }
}
