@import "../variables/colors.scss";

.verify__input {
  height: 12.438rem;
  width: 51.74rem;
  border-radius: 1.25rem;
  // padding: 14px, 32px, 14px, 32px;
  border: 0.125rem solid #636870;
  background: $darker-background;
}

.verify__heading {
  margin-bottom: 2rem;
}

.verify__label {
  display: block;
  margin-bottom: 3rem;
}

.verify__wrapper {
  margin-top: 2rem;
}

.verify__names {
  display: flex;
  gap: 4rem;

  & input {
    height: 4.25rem;
    width: 24.375rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    border: 0.125rem solid #d0d2d4;
    outline: none;
    background: $darker-background;
    font-family: $primary-font;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: #828282;

    // padding: 16px 24px;
  }
}

.verify__validate {
  height: 4.25rem;
  width: 52.187rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #d0d2d4;
  outline: none;
  background: $darker-background;
  font-family: $primary-font;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.25rem;
  color: #828282;
}

.verify__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.verify__light {
  border-radius: 0.5rem;
  padding: 1rem 5rem;
  border: none;
  background-color: inherit;
  color: $primary-color;
  border: 0.1875rem solid $primary-color;
  font-family: $secondary-font;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  &:hover {
    filter: brightness(85%);
  }
}

.verify__orange {
  border-radius: 0.5rem;
  padding: 1rem 5rem;
  border: none;
  background-color: $primary-color;
  border: 0.1875rem solid $primary-color;
  font-family: $secondary-font;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;

  &:hover {
    filter: brightness(85%);
  }
}
