@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@500&family=Nunito+Sans:wght@300;600;800&display=swap");

@font-face {
  font-family: "Acherus Grotesque";
  src: local("Acherus Grotesque"),
    url(../../fonts/Acherus-Grotesque/AcherusGrotesque-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Acherus Grotesque";
  font-weight: 200;
  src: local("Acherus Grotesque"),
    url(../../fonts/Acherus-Grotesque/AcherusGrotesque-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Acherus Grotesque";
  font-weight: 300;
  src: local("Acherus Grotesque"),
    url(../../fonts/Acherus-Grotesque/AcherusGrotesque-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Acherus Grotesque";
  font-weight: 400;
  src: local("Acherus Grotesque"),
    url(../../fonts/Acherus-Grotesque/AcherusGrotesque-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Acherus Grotesque";
  font-weight: 500;
  src: local("Acherus Grotesque"),
    url(../../fonts/Acherus-Grotesque/AcherusGrotesque-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Acherus Grotesque";
  font-weight: 600;
  src: local("Acherus Grotesque"),
    url(../../fonts/Acherus-Grotesque/AcherusGrotesque-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Acherus Grotesque";
  font-weight: 700;
  src: local("Acherus Grotesque"),
    url(../../fonts/Acherus-Grotesque/AcherusGrotesque-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Acherus Grotesque";
  src: url("../../Acherus-Grotesque/AcherusGrotesque-Medium.eot");
  src: local("Acherus Grotesque Medium"), local("AcherusGrotesque-Medium"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Medium.woff2") format("woff2"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Medium.woff") format("woff"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Acherus Grotesque";
  src: url("../../Acherus-Grotesque/AcherusGrotesque-Regular.eot");
  src: local("Acherus Grotesque Regular"), local("AcherusGrotesque-Regular"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Regular.woff2")
      format("woff2"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Regular.woff") format("woff"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Acherus Grotesque";
  src: url("../../Acherus-Grotesque/AcherusGrotesque-Bold.eot");
  src: local("Acherus Grotesque Bold"), local("AcherusGrotesque-Bold"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Bold.woff2") format("woff2"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Bold.woff") format("woff"),
    url("../../Acherus-Grotesque/AcherusGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

$background-color-minor: #4f4f4f;
$background-color-main: #474747;
$input-background: #efefef;
$input-color: #4f4f4f;
$input-border: #535353;
$darker-background: #07090d;
$primary-color: #eb861e;
$btn-gray: #efefef;
$input-gray: #828282;
$btn-text: #2f1b06;
$color-gold: #ffe0b4;
$secondary-font: "Inter", sans-serif;
$primary-font: "Acherus Grotesque", sans-serif;
$color-blue: #1e3feb;
