@import "./styles/variables/colors.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #151c28;
}

@import "./styles/pages/Signup.scss";
@import "./styles/pages/Login.scss";
