@import "./styles/variables/colors.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #151c28;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: $primary-color;
}

@import "./styles/components/Navbar.scss";
@import "./styles/components/Search.scss";
@import "./styles/components/Footer.scss";
@import "./styles/components/ProductImage.scss";
@import "./styles/components/UserNavbar.scss";
@import "./styles/components/UserProfile.scss";
@import "./styles/components/Confirm.scss";
@import "./styles/components/WhatCard.scss";
@import "./styles/components/Modal.scss";
@import "./styles/components/FundWallet.scss";
@import "./styles/components/SoldOut.scss";
@import "./styles/components/SuccessfulBid.scss";
@import "./styles/components/Bid.scss";
@import "./styles/components/ReviewCard.scss";
@import "./styles/components/Spinner.scss";

@import "./styles/pages/PaymentConfirmation.scss";
@import "./styles/pages/Signup.scss";
@import "./styles/pages/Login.scss";
@import "./styles/pages/Home.scss";
@import "./styles/components/Auth.scss";
@import "./styles/pages/Error.scss";
@import "./styles/pages/About.scss";
@import "./styles/pages/LiveAuction.scss";
@import "./styles/pages/Contact.scss";
@import "./styles/pages/Privacy.scss";
@import "./styles/pages/Sell.scss";
@import "./styles/pages/Verify.scss";
@import "./styles/pages/Inbox.scss";
@import "./styles/pages/Success.scss";
@import "./styles/pages/ForgotPasswordOne.scss";
@import "./styles/pages/ForgotPasswordTwo.scss";
@import "./styles/pages/ProductDetails.scss";
@import "./styles/pages/BuyNow.scss";
@import "./styles/pages/Personal.scss";
@import "./styles/pages/History.scss";
@import "./styles/pages/EmailSuccess.scss";
@import "./styles/pages/EmailFailure.scss";
@import "./styles/pages/AddToCart.scss";
@import "./styles/pages/EmailVerification.scss";
@import "./styles/pages/SearchResults.scss";

html {
  font-size: 14px;
}
